:root{
    --clr-bg: #e4e4e7;
    --clr-container: #fefefe;
    --clr-shadow: rgb(9, 9, 11, 0.2);
    --clr-title: #333;
    --clr-text: #111827;
    --btn-border: #0a0a0a;
    --clr-active_bg: #27272a;
}

*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
}

body {
    max-width: 90%;
    margin-inline: auto;
    background-color: var(--clr-bg);
    color: var(--clr-text);
}

.title{
    font-size: 5rem;
    letter-spacing: -0.1rem;
    margin-top: 1rem;
    margin-bottom: 2.5rem;
    text-align: center;
    color: var(--clr-title);
}

.content_container{
    /* border: 1px solid saddlebrown; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    padding: 1.5rem;
}

.grid_container{
    width: 37.5rem;
    height: 37.5rem;
    background-color: var(--clr-container);
    box-shadow: 3px 3px 5px var(--clr-shadow), -3px -3px 5px var(--clr-shadow);
    /* border: 1px solid black; */
    display: flex;
    flex-wrap: wrap;
}

.settings{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.color_wheel{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 6.5rem;
    height: 6.5rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.color_wheel::-webkit-color-swatch {
    border-radius: 50%;
}

.color_wheel::-moz-color-swatch {
    border-radius: 50%;
}

button {
    width: 13rem;
    height: 3rem;
    border: 1px solid var(--btn-border);
    background-color: var(--clr-container);
    color: var(--clr-text);
    border-radius: 0.4rem;
    box-shadow: 2px 2px 5px var(--clr-shadow);
    font-size: 1.5rem;
}

button:hover,
input[type="color"]:hover {
    transform: scale(1.05);
    transition: transform 0.2s ease-in-out;
}

.active {
    background-color: var(--clr-active_bg);
    color: var(--clr-container);
}

.slider_container{
    /* border: 1px solid rebeccapurple; */
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
}

.slider_value{
    font-size: 1.8rem;
    color: var(--clr-active_bg);
}

.slider{
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: rgba(113, 113, 122, 0.4);
    outline: none;
    opacity: 0.7;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: black;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: black;
    cursor: pointer;
}

.squareGrids {
    display: inline-block;
    /* border: 1px solid darkred; */
}